<body style="background-image: url('../assets/images/wooden-floor-background.jpg');">
  <header style="color: black;">
    <h1>Party Locator: Plan Your Next Raid</h1>
  </header>

  <main class='row'>

    
   
    <div class='container row col-2' id='game-data'>

      
        <button type="button" class="btn btn-primary btn-lg btn-block" id="create-comment-button">🪶 Post a Comment 🪶</button>  

      <div class='container' id='game-stats'>
        <h2>About the Game</h2>
        <p>Genre: </p>
        <p>Release Date: </p>
        <p>Developer: </p>
        <p>Tags: </p>
      </div>


      <div class='container' id='related-games'>
        <h2>Similar Titles</h2>
        <ul>
          <li>DOTA</li>
          <li>League of Legends</li>
          <li>EverQuest</li>
          <li>Runescape</li>
        </ul>
      </div>

    </div>


    <div class='row col-9 forum-section'>
      <h2>User Posts About Final Fantasy XIV</h2>
      <div class='row forum-post'>
        <h4>Best dungeon for farming exp?</h4>
        <p>Posted 05/01/2023 by CollyLee</p>
      </div>
      <div class='row forum-post'>
        <h4>I ate three edibles and played FFXIV for 24 hours straight. Here's what I learned.</h4>
        <p>Posted 05/01/2023 by CollyLee</p>
      </div>
      <div class='row forum-post'>
        <h4>Stuck in Haukke Manor (Hard)</h4>
        <p>Posted 05/01/2023 by CollyLee</p>
      </div>
      <div class='row forum-post'>
        <h4>What do you think Moogles would taste like?</h4>
        <p>Posted 05/01/2023 by CollyLee</p>
      </div>
      <div class='row forum-post'>
        <h4>I'm sick of playing tank. Tips for noob healers?</h4>
        <p>Posted 05/01/2023 by CollyLee</p>
      </div>
      <div class='row forum-post'>
        <h4>What's your favorite class?</h4>
        <p>Posted 05/01/2023 by CollyLee</p>
      </div>
      <div class='row forum-post'>
        <h4>What do you think Moogles would taste like?</h4>
        <p>Posted 05/01/2023 by CollyLee</p>
      </div>
      <div class='row forum-post'>
        <h4>I'm sick of playing tank. Tips for noob healers?</h4>
        <p>Posted 05/01/2023 by CollyLee</p>
      </div>
      <div class='row forum-post'>
        <h4>Minfilia is a f*****g boss!</h4>
        <p>Posted 05/01/2023 by CollyLee</p>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>