<header>
        <h1>Party Locator: Plan Your Next Raid</h1>
</header>
    
<main class = 'row'> 
        
    <div class = 'container col-3' id = 'top-posts'>
            <h2>Top Posts</h2>
            <ul>
                <li>Anyone in NYC area? Charizard event in Central Park</li>
                <li>Need help with Vow of Disciple</li>
                <li>Who's playing on Thrall?</li>
                <li>Stuck in Haukke Manor (Hard)</li>
            </ul>
    </div>

    <div class = 'col-8' id = 'game-section'>
        <div class = 'row game-card'>
            <a href = "PLACEHOLDER URL">Pokémon GO</a>
            <h4>Anyone in NYC area? Charizard event in Central Park</h4>
            <p>Posted 05/01/2023 by CollyLee</p>
        </div>
        <div class = 'row game-card'>
            <a href = "PLACEHOLDER URL">Destiny/Destiny 2</a>
            <h4>Need help with Vow of Disciple</h4>
            <p>Posted 05/01/2023 by CollyLee</p>
        </div>
        <div class = 'row game-card'>
            <a href = "PLACEHOLDER URL">World of Warcraft</a>
            <h4>Who's playing on Thrall?</h4>
            <p>Posted 05/01/2023 by CollyLee</p>
        </div>
        <div class = 'row game-card'>
            <a href = "PLACEHOLDER URL">Final Fantasy XIV</a>
            <h4>Stuck in Haukke Manor (Hard)</h4>
            <p>Posted 05/01/2023 by CollyLee</p>
        </div>
    </div>
</main>
