<body style="background-image: url('../assets/images/wooden-floor-background.jpg');">
  <header style="color: black;">
    <h1>Party Locator: Plan Your Next Raid</h1>
  </header>

  <main class='row'>

    <div class='col-2' id='post-stats'>
      <h2>This Post</h2>
      <div class= id='post-data'>
        <p>Created By: USERNAME </p>
        <p>Created On: DATE </p>
        <p>Topic: GAME NAME </p>
      </div>
    </div>

    <div class='col-9 post-section'>
      <h2>POST TITLE</h2>
      <div id='post-display'>
        <p>OMG look at this amazing post I just made!</p>
      </div>
      <div id='comments-section'>
        <p class='comment-block'><span style="font-weight: 700">USER Wrote: </span> Wow man, great post. 10/10!</p>
        <p class='comment-block'><span style="font-weight: 700">USER Wrote: </span> You suck</p>
        <p class='comment-block'><span style="font-weight: 700">USER Wrote: </span> All right all right all right</p>
      </div>

      <div class="form-group" id='comment-form'>
        <label for="exampleFormControlTextarea1">Leave a Comment!</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button type="button" class="btn btn-secondary btn-sm"
          style="width: 200px; text-align: center; margin: 5px">Post Your Comment</button>
      </div>



    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>