/* CSS universal properties */
* {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-image: url('../../assets/images/destiny.jpg');
}
header {
  padding: 20px;
  height: 125px;
  color: white;
}

h1 {
  font-size: 400%;
}

h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

h4 {
  display: block;
}


/* CSS properties for home page */

#top-posts {
  margin: 10px 20px 10px 20px;
  background: slategray;
  opacity: 90%;
  border-radius: 5px;
  color: white;
}

#logo {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#top-posts li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 125%;
}

.game-card {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: slategray;
  color: white;
  opacity: 90%;
  height: 150px
}

.game-card p {
  margin-left: 0px;
  font-style: italic;
  font-size: 80%;
  padding-left: 10px;
}

.game-card a {
  font-size: 200%;
  padding-left: 10px;
}

.game-card h4 {
  padding-left: 40px;
}

/* CSS properties for game-specific pages */


#game-stats, #related-games  {
 
  height: 350px;
  background: slategray;
  color: white;
  opacity: 90%;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.forum-section {
  border: 2px solid black;
  background: slategray;
  color: white;
  opacity: 90%;
  border-radius: 5px;
}

.forum-post {
  background-color: white;
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
  color: black
}

#create-post-button {
  border: 2px solid black;
  margin: 10px;
  background: slategray;
  color: white;
  opacity: 90%;
  border-radius: 5px;
  text-align: center;
  width: 95%
}

/* CSS properties for post pages */



#post-stats {
  border: 2px solid black;
  margin: 10px 20px 10px 40px;
  background: slategray;
  color: white;
  opacity: 90%;
  border-radius: 5px;
}

#post-data {
  margin: 10px 5px 10px 5px;
  border-radius: 5px;
}

.post-section {
  border: 2px solid black;
  margin: 10px 0px 10px 40px;
  background: slategray;
  color: white;
  opacity: 90%;
  border-radius: 5px;
}

#post-display {
  margin: 10px 20px 10px 0px;
  background: white;
  border-radius: 5px;
  height: 300px;
  color: black;
}

#comments-section {

  margin: 10px 20px 10px 0px;
  background: white;
  border-radius: 5px;
  color: black;
}

.comment-block {
  background-color: white;
  margin: 10px 5px 10px 5px;
  border-radius: 5px;
  color: black;
}

#comment-form {
  margin: 10px 20px 10px 0px;
  border-radius: 5px;
  background: white;
  font-weight: 700;
  color: black;
}

#post-form {
  margin: 10px 20px 10px 0px;
  border-radius: 5px;
  background: white;
  font-weight: 700;
  color: black;
}


/* CSS properties for login page */

#login-request {
  border-radius: 5px;
  margin: 10px;
  opacity: 90%;
}

#login-form  {
  padding: 20px;
}

#create-form {
  padding: 20px;
}

#create-request {
  border-radius: 5px;
  margin: 10px;
  opacity: 90%;
}